.n-wrapper {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}
.n-left {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex: 1;
}
.n-name {
    font-size: 1.3rem;
    font-weight: bold;
}
.n-right {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    flex: 1;
}
.n-list {
    flex: 10;
}
.n-list > ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}
.n-list > ul > li:hover {
    cursor: pointer;
    color: var(--orange);
}
.n-button {
    flex: 2;
}
@media screen and (max-width: 480px) {
    .n-list {
      display: none;
    }
}